<div id="notification-set" class="row notiSet">
  <div id="system-noti" class="col-md-2 notiTab" (click)="notiClick()">
    <span class="fa fa-bell notiLabel"></span>
    <span *ngIf="noti_show(sys_noti_num)" class="label label-danger label-as-badge notiBadge">{{ sys_noti_num }}</span>
  </div>
  <div id="mail-noti" class="col-md-2 notiTab" (click)="mailClick()">
    <span class="fa fa-envelope notiLabel"></span>
    <span *ngIf="noti_show(mail_noti_num)" class="label label-danger label-as-badge notiBadge">{{ mail_noti_num }}</span>
  </div>
  <div id="chat-noti" class="col-md-2 notiTab" (click)="chatClick()">
    <span class="fa fa-comment notiLabel"></span>
    <span *ngIf="noti_show(chat_noti_num)" class="label label-danger label-as-badge notiBadge">{{ chat_noti_num }}</span>
  </div>
</div>
<div *ngIf="notiBodyDisplay" id="noti-box">
  <span class="label label-default label-as-badge closeNoti" style="color:rgba(69,73,84,1)" (click)="notiBodyDisplay = false;"><i class="fa fa-times"></i></span>
  <div class="text-center notiBoxHead"><h4>{{ notiTitle }}</h4></div>
  <div class="notiBoxBody">
    <ul class="list-group">
      <li *ngFor="let each of notiList" class="list-group-item">{{ each.from }}: {{ each.info }}</li>
    </ul>
  </div>
  <button class="btn btn-danger buttonMargin" (click)="clearNoti()">clear</button>

</div>


