<div class="container marginClass">
    <div class="row">
        <div *ngFor="let eachClass of classList" class="col-md-3">
            <div class="classCard">
                <div class="classHead text-center">
                    <h3 class="headText">
                        {{ eachClass.name }}
                    </h3>
                </div>
                <div class="shortDescribe">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Professor: {{ eachClass.professor }}
                        </li>
                        <li class="list-group-item detailInfo">
                            Detail:
                            {{ eachClass.detail }}
                        </li>
                    </ul>
                </div>
                <div class="gotoClass">
                    <button type="button" class="btn btn-primary btn-block">
                        Go To Class
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>