.form_bg {
    background-color:rgba(107,157,190,1);
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
    color:whitesmoke;
    padding:10px;
    border-radius:5px;
    position: relative;
    border:0px solid #fff;
    margin: auto;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 700px;
}

.searchFriendsBar {
    height: 50px;
}

.friendsList {
    height: 600px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.friendProfileImage {
    border-radius: 50%;
    width: 40px;
    position: absolute;
}

.friendsText {
    display: inline;
    color: rgba(69,73,84,1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    margin-left: 50px;
}

.friendImagePlace {
    margin-top: -5px;
}

.floatToRight {
    font-size: 30px;
    color: rgba(69,73,84,1);
    float: right;
}

.fa {
    margin-left: 20px;
    margin-right: 5px;
}

.fa:hover {
    transform: scale(1.05);
}

.fa:active {
    transform: scale(0.975);
}

.fromClass {
    position: absolute;
    margin-top: 10px;
    margin-left: 90px;
    font-size: 15px;
}

li {
    height: 52px;
}
