<div class="container">
  <div class="row">
    <div class="form_bg">
      <div class="search">
        <form [formGroup]="searchForm">
          <input formControlName="searchFriends" (keyup)="onSearchChange()" type="text" class="searchFriendsBar form-control" placeholder="Search Friends, Filter By Class...">
        </form>

      </div>
      <div class="friendsList">
        <ul class="list-group">
          <li *ngFor="let eachFriend of friendsList" class="list-group-item">
            <div class="friendImagePlace">
              <img [src]="eachFriend.profileURL" alt="" class="friendProfileImage">
              <span class="friendsText">{{ eachFriend.name }}</span>
              <span class="floatToRight">
                <span class="fromClass label label-success">{{ eachFriend.fromClass }}</span>
                <span class="fa fa-envelope"></span>
                <span class="fa fa-comment" (click)="activeChat(eachFriend)"></span>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>