<div class="container">
    <div class="row">
        <div class="mailSystem">
            <span class="fa-stack fa-3x mailHeader">
                <i class="fa fa-envelope fa-stack-2x"></i>
            </span>
            <div class="mailNav col-md-3">
                <div class="selectClass">
                    <h4>Filter By Class: <span class="fa fa-caret-down filterButtonSpan"></span></h4>
                </div>
                <div class="mailList">
                    <ul class="list-group">
                        <li class="list-group-item">test</li>
                    </ul>
                </div>
            </div>
            <div class="mailContent col-md-9">
                <div class="toolBar"></div>
                <div class="mailDetail"></div>
            </div>
        </div>
    </div>
</div>