.form_bg {
    background-color:rgba(107,157,190,1);
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
    color:whitesmoke;
    padding:20px;
    border-radius:5px;
    position: absolute;
    border:0px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 630px;
}
.logo-image {
    width:100px;
    border-radius: 50%;
}
.bottom-link {
    margin-top:10px;
}

.align-center {

    text-align:center;
}